[general]
# DNS interface. Note that systemd-resolved may reserve port 53 on 127.0.0.53
# In this case acme-dns will error out and you will need to define the listening interface
# for example: listen = "127.0.0.1:53"
listen = "0.0.0.0:53"
# protocol, "both", "both4", "both6", "udp", "udp4", "udp6" or "tcp", "tcp4", "tcp6"
protocol = "both"
# domain name to serve the requests off of
domain = "acme.upsigma.cc"
# zone name server
nsname = "acme.upsigma.cc"
# admin email address, where @ is substituted with .
nsadmin = "admin.upsigma.cc"
# predefined records served in addition to the TXT
records = [
    "acme.upsigma.cc. A 86.125.55.70",
    "acme.upsigma.cc. NS acme.upsigma.cc.",
]
# debug messages from CORS etc
debug = false

[database]
# Database engine to use, sqlite or postgres
engine = "sqlite"
# Connection string, filename for sqlite3 and postgres://$username:$password@$host/$db_name for postgres
connection = "/var/lib/acme-dns/acme-dns.db"
# connection = "postgres://user:password@localhost/acmedns_db"

[api]
# listen ip eg. 127.0.0.1
ip = "0.0.0.0"
# disable registration endpoint
disable_registration = false
# listen port, eg. 443 for default HTTPS
port = "80"
# possible values: "letsencrypt", "letsencryptstaging", "cert", "none"
tls = "none"
# only used if tls = "cert"
tls_cert_privkey = "/etc/tls/privkey.pem"
tls_cert_fullchain = "/etc/tls/fullchain.pem"
# only used if tls = "letsencrypt"
acme_cache_dir = "api-certs"
# optional e-mail address to which Let's Encrypt will send expiration notices for the API's cert
notification_email = ""
# CORS AllowOrigins, wildcards can be used
corsorigins = [
    "*"
]
# use HTTP header to get the client ip
use_header = false
# header name to pull the ip address / list of ip addresses from
header_name = "X-Forwarded-For"
# enable HSTS (HTTP Strict Transport Security)
hsts_enabled = false
# HSTS max age in seconds (default: 31536000 = 1 year)
hsts_max_age = 31536000
# HSTS include subdomains directive
hsts_include_subdomains = false
# HSTS preload directive
hsts_preload = false

[logconfig]
# logging level: "error", "warning", "info" or "debug"
loglevel = "info"
# possible values: stdout, file
logtype = "stdout"
logfile = "./acme-dns.log"
# format, either "json" or "text"
logformat = "json"
